<?xml version="1.0" encoding="UTF-8"?>
 
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections> 
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>

    <!--<add key="MSSQLConnectionString" value="persist security info=true;user id=snsvweb;password=vnvina%$#@!;initial catalog=SMSDB;data source=192.168.30.2"/>-->
    <add key="MSSQLConnectionString" value="persist security info=true;user id=sa;password=orion321#@!;initial catalog=SMSDB;data source=192.168.100.44; Max Pool Size=2000" />
    <add key="COMDBConnectionString" value="persist security info=true;user id=sa;password=orion321#@!;initial catalog=COMDB;data source=192.168.100.44; Max Pool Size=2000" />
    <add key="CacheMSSQLParameters" value="true" />
    <!-- Do not change this unless you understand the workings of the code and have a reason to 
         change it. -->
    <add key="MSSQLOwnerPrefix" value="[dbo]." />
  </appSettings>
  <connectionStrings>

    <!--<add name="ApplicationServices" connectionString="persist security info=true;user id=sa;password=crewcloud@)15;initial catalog=Vietnam_Hanyang;data source=vn.crewcloud.net,14233"/>-->
  </connectionStrings>


  <cachingConfiguration defaultCacheManager="CacheManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CacheManager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

  <system.web>
    <compilation targetFramework="4.5" />
    <pages validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Auto" maxPageStateFieldLength="100" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Globalization" />
      </namespaces>
      <controls>
        <!--<add namespace="ORION.Web.Controls" assembly="ORION.Web" tagPrefix="Portal"/>-->
      </controls>
      <tagMapping />
    </pages>
    <authentication mode="Forms">
      <forms name="__Auth" loginUrl="~/Secure/login.aspx" cookieless="AutoDetect" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="true" />
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>

    <machineKey validationKey="F75A1012D488BA6A8542E829C869EDB5FDA43474EC4440C385CE051DF94234866AE1738965D11702A49E9B1F6255395E1695F948477D6F65A1E78749CF0CA58C" decryptionKey="2AB81D6140534EF337BC173B5C2882CF19F1F9B9829E1982" validation="SHA1" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <!--<customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
      </customHeaders>-->
    </httpProtocol>
<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".QLZ" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>

  </system.web.extensions>

  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>
