/* #SHADOW*/
/* #BORDER*/
/* #OPACITY*/
/* #ANIMATION*/
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 260px;
  background: #191919;
  -webkit-box-shadow: "0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)";
  -moz-box-shadow: "0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)";
  box-shadow: "0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)";
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: 100%;
}
.sidebar .sidebar-wrapper .user {
  height: 100px;
}
.sidebar .sidebar-wrapper .nav {
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}
.sidebar .sidebar-wrapper .nav .caret {
  margin-top: 13px;
  position: absolute;
  right: 18px;
}
.sidebar .sidebar-wrapper .nav li > a {
  margin: 10px 15px 0;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sidebar .sidebar-wrapper .nav li > a:hover,
.sidebar .sidebar-wrapper .nav li > a:focus {
  background-color: transparent;
  outline: none;
}
.sidebar .sidebar-wrapper .nav li:first-child > a {
  margin: 0 15px;
}
.sidebar .sidebar-wrapper .nav li:hover > a,
.sidebar .sidebar-wrapper .nav li.active > [data-toggle="collapse"] {
  background-color: rgba(200, 200, 200, 0.2);
  color: #ffffff;
  box-shadow: none;
}
.sidebar .sidebar-wrapper .nav li.active > [data-toggle="collapse"] i {
  color: #a9afbb;
}
.sidebar .sidebar-wrapper .nav li.active.visible > a,
.sidebar .sidebar-wrapper .nav li.active.visible > a i {
  color: #ffffff;
}
.sidebar .sidebar-wrapper .nav li.separator {
  margin: 15px 0;
}
.sidebar .sidebar-wrapper .nav li.separator:after {
  width: calc(100% - 30px);
  content: "";
  position: absolute;
  height: 1px;
  left: 15px;
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .sidebar-wrapper .nav li.separator + li {
  margin-top: 31px;
}
.sidebar .sidebar-wrapper .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  display: block;
  height: auto;
  -webkit-transform: "translate3d(0, 0, 0)";
  -moz-transform: "translate3d(0, 0, 0)";
  -ms-transform: "translate3d(0, 0, 0)";
  -o-transform: "translate3d(0, 0, 0)";
  -webkit-transform: "opacity 300ms !default linear !default, transform 300ms !default linear !default";
  -moz-transform: "opacity 300ms !default linear !default, transform 300ms !default linear !default";
  -ms-transform: "opacity 300ms !default linear !default, transform 300ms !default linear !default";
  -o-transform: "opacity 300ms !default linear !default, transform 300ms !default linear !default";
}
.sidebar .sidebar-wrapper .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}