/* #SHADOW*/
/* #BORDER*/
/* #OPACITY*/
/* #ANIMATION*/
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5em;
}
.loginbody {
  background: url("/assets/CSS/Site/img/bglogin.jpg") no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.login-container {
  height: 100%;
  position: relative;
}
.login-container .loginbox {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-top: -160px;
  position: absolute;
  right: 0px;
  top: 50%;
  width: 380px;
  max-width: 100%;
  /*.input-group {
            position: relative;

            input[type="password"], input[type="text"] {
                height: 42px;
                padding-left: 30px;
            }

            .login-buttonbtn {
                height: 42px;
            }
        }

        span.icon {
            left: 12px;
            position: absolute;
            top: 12px;
        }*/
}
.login-container .loginbox.box.effect7::before,
.login-container .loginbox.box.effect7::after {
  right: 15px;
}