<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.11.326" targetFramework="net45" />
  <package id="ImageResizer" version="4.1.10" targetFramework="net45" />
  <package id="ImageResizer.Plugins.DiskCache" version="4.1.10" targetFramework="net45" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="4.1.10" targetFramework="net45" />
  <package id="ImageResizer.WebConfig" version="4.1.10" targetFramework="net45" />
</packages>